/* ==============================
    NOTICE
  =============================*/
/* !important is used sparingly to override styles applied by css from other plugins  */

/* ===== Basic CSS Reset Styles =================================================== */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

canvas,
img,
 {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* =====End of  CSS Reset Styles =================================================== */

/* ===== General Styles =================================================== */
body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

#toggle {
  visibility: hidden;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.header-container{
 background-color: #A37774;
 height: 70px;
}

#logo {
  width: 150px;
  height: 60px;
}

#logo > a > img {
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5%;
  width: 100vw;
}

.white-card {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    border: 2px solid;
    border-radius: 20px;
    margin-right: 1%;
}

#menu_dir > ul > li {
  color: #fff !important;
  font-weight: bolder;

}

header nav ul li > a {
    padding: 10px;
    margin-right: 10px;
    width: 120px;
    border-radius: 20px;
    float: right;
    margin: 1%;
}

#toggle {
    color: #fff;
    position: absolute;
    top: 3%;
    left: 25px;
    cursor: pointer;
}

.responsive {
  display: block;
}

nav.responsive > {
  position: fixed;
  height: auto;
  padding: 0;
}

nav.responsive ul li {
  display: table;
  padding: 10px;
  width: 100%;
}

./* ===== Footer =================================================== */
.fa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: rgba(255,255,255,.8);
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    border-radius: 50%;
}
.fa-twitter {
   background-color: #32CCFE;
}
.fa-facebook {
   background-color: #3c599f;
}
.fa-github {
   background-color: #070709;
}

#copyright {
  padding: 5px;
}

footer {
	padding: 2em 0 2em 0 ;
	background: url("../img/footer.png") RGBA(0,0,0,0.9) fixed no-repeat;
  color: #fff;
}
footer ul#icons, #copyright {
  text-align: center;
}

footer ul#icons li {
    display: inline-block;
    padding-right: 10px;
    text-align: center;
}

footer a:hover {
	color: #fff;
}

.footer-child {
  max-width: 48%;
  text-align: justify;
  padding: 0 10% 0 0;
}

footer h3 {
  font-size: 1.6em;
  font-weight: bolder;
  padding: 1%;
}

#icons > li > a {
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
}

/* ================================
     Homepage
    ============================== */
    #hero-image {
    background-image: linear-gradient(rgba(72, 74, 71, 1), rgba(163, 119, 116, 1)), url("https://picsum.photos/900/900/?random");
     color: #fff;
     width: 100vw;
     height: 60vh;
    }

    #intro-text {
      max-width: 40vw;
      margin-right: 5vw;
      text-align: justify;
    }

    #intro-img > img {
      position: relative;
      width: 100%;
      height: 100%;
      margin-right: 2%;
    }

    .grid-layout {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto;
      grid-gap: 2%;
    }

    .country-image > img {
      width: 100%;
      height: auto;
    }

    .flex-container > .intro {
    width: 40vw
    }

  .flex-container >.white-card {
      width: 30%;
      padding: 20px;
      margin-right: 12px;
      border-radius: 30px;
  }

  .white-card > p {
    margin: 5px;
}

.btn-country {
  width: 30px;
  padding: 10px;
  background: #484A47;
  border-radius: 1em;
  color: #fff;
}

.white-card a:hover {
    background: #E88873;
}

.title{
    text-align: center;
    font-size: 1.4em;
    font-weight: 900;
    margin: 30px
}

.white-card h3 {
    font-size: 1.3em;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.hero-content {
	position: relative;
	top: 40%;
	text-align: center;
}

.hero-content h1 {
  font-size: 2em;
  font-weight: bolder;
  padding: 5px;
}

.hero-content p {
  font-size: 1em;
  font-weight: bold;
}

/* ================================
    Countries page
    ============================== */
.map {
  margin-top: 2%;
  height: 500px !important;
  width: 50%;
}

.country-name {
  text-align: center;
  font-size: 2em;
  color: #fff;
}

.country-info p{
  text-align: justify;
  float: none;
  margin: 2% 5%;
  font-size: 1em;
  width: 40vw;
}

.map-content > p {
  color: #000;
  margin: 0;
  font-size: 1em;
  width: 100%;
  line-height: 1.9em;
}

.map-content p > span {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}



/*  =============================
      Statistics page
    =============================*/
    #stats-bg {

      background-image: linear-gradient(rgba(100, 10, 39, 0.7), rgba(15, 15, 39, 0.9)), url("../img/stats-bg.png");
      height: auto;
      max-height: 200px;
      width: 100%;
    }

    /* Code for styling radio button from here: http://www.tipue.com/blog/radio-checkbox/ */
    .stats-radio, input[type="checkbox"] {
       -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
       display: inline-block;
       position: relative;
       background-color: #f1f1f1;
       color: #666;
       top: 10px;
       height: 30px;
       width: 30px;
       border: 0;
       border-radius: 50px;
       cursor: pointer;
       margin-right: 7px;
       outline: none;
  }
  .stats-radio:checked::before, input[type="checkbox"]::before
  {
       position: absolute;
       font: 13px/1 'Open Sans', sans-serif;
       left: 11px;
       top: 7px;
       content: '\02143';
       transform: rotate(40deg);
  }
  .stats-radio:hover, input[type="checkbox"]:hover
  {
       background-color: #5C6D70;
  }
  .form-radio:checked, input[type="checkbox"]:checked
  {
       background-color: #5C6D70;
  }

  form >fieldset {
    display: block;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 30px;
    margin: 1% 0 1%;
    max-width: 90vw;
  }

fieldset:nth-child(2) {
  display: none;
}
/* ==============
    MOBILE: Menu
   ============== */
   nav ul {
       margin: 0;
       padding: 0;
       list-style-type: none;
   }

   nav a {
       display: block;
       margin-bottom: 10px;
       padding: 15px 0;

       text-align: center;
       text-decoration: none;
       font-weight: bold;

       color: white;
       background: #484A47;
   }

   nav a:hover,
   nav a:visited {
       color: white;
   }

   nav a:hover {
       text-decoration: underline;
       background: #E88873;
  }

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  nav a {
     float: left;
     width: 27%;
     margin: 0 1.7%;
     padding: 25px 2%;
     margin-bottom: 0;
 }

 nav li:first-child a {
     margin-left: 0;
 }

 nav li:last-child a {
     margin-right: 0;
 }

 nav ul li {
       display: inline;
   }

   #hero-image {
   background-image: linear-gradient(rgba(100, 10, 39, 0.7), rgba(15, 15, 39, 0.9)), url("https://picsum.photos/900/900/?random");
    color: #fff;
    width: 100vw;
    height: 45vh;
   }

}

@media only screen and (max-width: 480px) {
    .footer-child {
    max-width: 100%;
    text-align: justify;
    padding: 0 10% 0 0;
    }

    .footer-child > p{
      margin-bottom: 20px;
    }

    .map {
      margin-top: 2%;
      height: 500px !important;
      width: 100%;
    }

    .country-info p, #info-text {
      width: 90%;
      margin: 5% 0;
      padding: 1em;
    }

    #hero-image {
    background-image: linear-gradient(rgba(100, 10, 39, 0.7), rgba(15, 15, 39, 0.9)), url("https://picsum.photos/900/900/?random");
     color: #fff;
     width: 100vw;
     height: 40vh;
    }

    #intro-img {
      display: none;
    }

    .flex-container > .intro {
      width: 90vw;
    }

    .flex-container >.white-card {
    width: 90vw;
    padding: 20px;
    margin-right: 12px;
    border-radius: 30px;
    }

    .her0-image > p {
      font-size: 0.8em;
    }

    .her0-image > h1 {
      font-size: 1.05em;
    }

   #intro-text > p{
     width: 90vw;
   }

   #hero-image > div {
     display: none;
   }

   #toggle {
     display: block;
   }

   header nav ul li > a {
    padding: 10px;
    border-radius: 20px;
    float: right;
    margin: 2%;
    max-width: 90px;
}


}

@media only screen and (min-width: 768px) {
    .header-container,
    .main  {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

  }

@media only screen and (min-width: 1140px) {

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1024px) {
 section#ghana, section#mauritius, section#uk {
   height: 100% !important;
    margin: 1em 0;
 }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
