
    <footer class="wrapper flex-container">
      <div >
        <h3>About This Site</h3>
        <p>This site provides information on the development of digital infrastruce in three countries namely: Ghana, Mauritius and United Kingdom.
          This  site uses information from the World Bank Data Catalogue to provide statistics on the population, financial data,internet penetration,
          number of mobile users, and number of secure servers. The information is displyed using various graph and charts for easy understanding and
          interpretation.
        </p>

      </div>
      <div>
        <h3>Locate Us</h3>
        <address>
          African Leadership College<br/>
          Powder Mill Road<br/>
          Pamplemousses<br/>
          Mauritius
        </address>
      </div>

      <div>
        <ul>
						<li><a href="https://www.twitter.com/Emmanuel1157" class="fa fa-twitter fa-2x"></a></li>
						<li><a href="https://www.facebook.com/emmanuelcareforyou" class="fa fa-facebook fa-2x"></a></li>

						<li><a href="https://github.com/anoited007" class="fa fa-github fa-2x"></a></li>
					</ul>
				</div>
      			 <p id="copyright">Designed By Immanuel © 2019. All rights reserved.</p>

    </footer>
