<div class="header-container">
    <header class="wrapper clearfix">
      <!-- <div id="logo">
         <a href="index.html"><img src="assets/img/statsbuddy.png" alt="Logo of StatsBuddy" /> </a>
      </div> -->
        <nav>
        <span id="toggle"><i class="fas fa-bars"></i> </span>  
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="countries.html">Countries</a></li>
              <li><a href="statistics.html">Statistics</a></li>
            </ul>
        </nav>
    </header>
</div>
